html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
}

body {
    @extend %Rubik-400;
    font-size: 18px;
    line-height: 30px;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

.container-big {
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.subtitle {
    @extend %DMSans-700;
    font-size: 36px;
    color: #000;
    text-align: center;
    margin-bottom: 40px;
}

.btn {
    @extend %Rubik-500;
    font-size: 15px;
    line-height: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 27px;
    max-width: 200px;
}

.breadcrumbs {
    background-color: #edf1f4;
    padding: 36px 0;
    margin-bottom: 120px;
    text-align: center;
    &__title {
        @extend %Rubik-400;
        font-size: 36px;
        line-height: 24px;
        color: #222933;
        margin-bottom: 10px;
    }
}

.breadcrumbs__list {
    @extend %Rubik-400;
    font-size: 14px;
    line-height: 24px;
    color: #737980;
    display: flex;
    justify-content: center;
    &-item {
        position: relative;
        margin-right: 20px;
    }
    &-item::before {
        position: absolute;
        content: "/";
        left: -14px;
        top: 1px;
        width: 7px;
        height: 13px;
    }
    &-item:first-child::before {
        display: none;
    }
    &-item:last-child {
        margin-right: 0;
    }
}

.pagination {
    color: #243f4d;
    font-size: 16px;
    &-list {
        display: flex;
        justify-content: center;
        align-items: center;
        &__link {
            padding: 14px 19px;
            border: 1px solid #a3bbc8;
            line-height: 0;
            &--active {
                background-color: #a3bbc8;
                color: #fff;
            }
        }
        &__item+.pagination-list__item {
            margin-left: 15px;
        }
    }
}