%DMSans400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%DMSans500 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 500;
}

%DMSans700 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 700;
}

%MP400 {
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 400;
}

%Poppins700 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

%Rubick400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%Rubick500 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 500;
}