%DMSans-400 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 400;
}

%DMSans-500 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 500;
}

%DMSans-700 {
    font-family: "DMSans-Regular", sans-serif;
    font-weight: 700;
}

%MP-400 {
    font-family: "MyriadPro-Regular", sans-serif;
    font-weight: 400;
}

%Poppins7-00 {
    font-family: "Poppins-Bold", sans-serif;
    font-weight: 700;
}

%Rubick-400 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 400;
}

%Rubick-500 {
    font-family: "Rubik-Regular", sans-serif;
    font-weight: 500;
}